

<div class="container">
    <div class="left-half centralised-content">
      <div class="form">
        <h1 class="title">Contact us</h1>

        <h5 class="quote">We are all cat persons, so if you got any question, drop it below and we will contact you back</h5>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">

          <div class="input-inline-container">
            <label for="fullName">Your Full Name</label>
            <input type="text" id="fullName" placeholder="Type your name" name="fullName" formControlName="fullName">
        </div>

        <div class="input-inline-container">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Type your email" name="email" formControlName="email">
        </div>
        
        <div *ngIf="!email.valid && (email.dirty || email.touched)">
          <div [hidden]="!email.errors.required">
            email is required
          </div>
        </div>

        <hr>
        
        <div class="input-inline-container">

          
          <div>
            <label>City</label>
            <input type="text" id="city" placeholder="ex. Thessaloniki" name="city" formControlName="city">
          </div>
          <div>
            <label>Postal Code</label>
              <input type="text" id="postalCode" placeholder="ex. 54638" name="postalCode" formControlName="postalCode">
          </div>
        </div>

        <div class="input-block-container max-width-60">
          <label>Address</label>
          <input type="text" id="address" placeholder="ex. Thessaloniki" name="adress" formControlName="address">
        </div>

        <div class="input-block-container">
          <div class="input-label">
            <span class="your-message">Your Message</span>
            <span class="optional">Optional</span>
          </div>
          
          <textarea id="message" placeholder="Type Your Message" name="message" formControlName="message"></textarea>
        </div>

        <div>
          <label><input type="checkbox" name="termsAndConditions" formControlName="termsAndConditions">I agree with the Terms & Conditions</label>
        </div>
 
          <button type="submit" [disabled]="!contactForm.valid" [ngClass]="{'disabled-button': !contactForm.valid}" class="submit-button"> Send!  </button>

        </form>
      </div>

    </div>
    <div class="right-half centralised-content" *ngIf="locationData.latitude && locationData.longitude">
      <!-- <agm-map [latitude]="locationData.latitude" [longitude]="locationData.longitude">
      </agm-map> -->

      <div class="location">
        <ul>
          <li>
            <b>Headquarters</b>
          </li>
          <li>
            Aristotelous 16, 54658<br>
            Thessaloniki, Greece
          </li>
          <li>
            +30 231 129 0998<br>
            hey@smellycat.gr
          </li>
        </ul>
      </div>
    </div>


  </div>