.container {
    display: flex;
    flex-direction: row;
    height: 84%;
    background-color: #EFF1F4;
}
  
.left-half {
  width: 50%;
  padding:5%;
}
  
.right-half {
  width: 50%;
  padding:5%;
}

.centralised-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

label, input[type="checkbox"] {
  vertical-align: middle;
}


.title {
  text-align: left;
  font-size: big;
  font-weight: bold;
}

.form {
  text-align: left;
  width:25em;
}

.input-inline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  vertical-align: middle;

  input {
    // flex:1;
    // width:20em;
    display:block
  }
}

.input-block-container {
  margin-bottom:1.5em;
  display: flex;
  flex-direction: column;
}

.max-width-60{
  max-width: 60%;
}

.input-label {
  display: flex;
  justify-content: space-between;
}

textarea {
  height:8em;
  resize: none;
  border-radius: 2px;
  border-color:rgb(221,224,230);
  border-width: 1px;
  border-style:solid;
}

input {
  border-radius: 2px;
  border-color:rgb(221,224,230);
  border-width: 1px;
  border-style:solid;
  height:2em;
}

.submit-button {
  text-align: center;
  width:8em;
  height:2em;
  border-radius: 5px;
  border:none;
  background-color: rgb(223, 75, 75);
  color: white;
}

.location {
  width:100%;
  text-align: right;
}

ul {
  list-style: none;
  li {
    margin-bottom: 2em;
  }
}

span {

}

.optional {
  font-size:x-small;
  color:#9784FF;
}

.your-message {
  font-size:x-small;
}

.disabled-button {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}