<nav>
    <ul class="container">
      <div class="left">
        <li>
          <img src="/assets/images/logo.png">
        </li>
      </div>
      <div class="right">
        <li *ngFor="let page of pages" class="button-class">
          <routing-button  [routerLink]="page.url"  [title]="page.name"></routing-button>
        </li>
      </div>
    </ul>
  </nav>