.container {
    display: flex; /* use a flexbox layout */
    height: 48px; /* set the height of the container */
  }
  
  .left {
    width: 50%; /* make the left div take up 50% of the container width */
    display: flex; /* use a nested flexbox to center the logo vertically */
    align-items: center; /* center the logo vertically */
  }
  
  .right {
    width: 50%; /* make the right div take up 50% of the container width */
    display: flex; /* use a flexbox to lay out the buttons */
    justify-content: flex-end; /* align the buttons to the right */
  }

  .button-class {
    margin:auto;
    :hover{
      cursor:pointer;
    }
  }
  
  li {
    list-style: none; /* remove the bullets from the list items */
    margin: 0 10px; /* add some spacing between the buttons */
  }

  nav {
    border-bottom:1px solid black;
    background-color: white;
    height: 48px;
  }