.box {
    height: 100%; /* Set the height to 100% to take full height of parent component */
    display: flex; /* Use flexbox */
    align-items: center; /* Center the icons vertically */
    justify-content: center; /* Center the icons horizontally */
  }
  
  /* Style for the icons */
  .box i {
    margin: 1.5vw; /* Add some space between the icons */
  }