.container {
    white-space: nowrap; /* Prevents line breaks */
  }

.footer-link {
    display: inline-block;
    text-align: center;
    font-size: small;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.footer-link:hover {
    cursor: pointer;
  }