<div class="footer-container">
    <div class="container">
        <div class="box">
            <img src="/assets/images/footerLogo.png"> 
        </div>
    
        <div class="box">
            <app-footer-links></app-footer-links>
        </div>
    
        <div class="box">
            <app-socials></app-socials>
        </div>
    </div>
    <div class="copyright">
        <app-copyright>
        </app-copyright>
    </div>
</div>