.footer-container {
    background-color: black;
    color: white;
    height:178px;
}  

.container {
    white-space: nowrap; 
    padding-top:3rem;
}

.box {
    text-align: center;
    display: inline-block;
    width: 33.3%;
    height: 15.21%; 
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
 }

.copyright {
    text-align: center;
    height:23px;
    margin-bottom: 100px;
}

.copyright :hover {
    cursor: pointer;
}